.card {
  border: none;
}
.info {
  text-align: center;
}

.top {
  background-color: #fafafa;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
}

.container-bg {
  background-image: url("/pictures/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom {
  background-color: #e8f4f7;
  padding-top: 50px;
}

.pagination {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.searchButtons {
  font: bold 1.5rem Arial;
  text-decoration: none;
  background-color: #eeeeee23;
  color: #333333;
  /* padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc; */
  margin: 1px 1px;
  display: inline-block;
}

.row {
  padding: 10px 0px;
}

.aboutPage {
  text-align: center;
  padding: 30px 0px;
  color: rgb(23, 23, 85);
}

.aboutPage h1 {
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.aboutPage p {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.aboutPage h2 {
  font-size: 3rem;
  font-weight: bold;
}

.learnContent {
  max-width: 50%;
  text-align: justify;
  text-justify: inter-word;
}
.learnContent h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

.space {
  height: 10rem;
  background-color: #cccccc6b;
}

.seaImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.involve {
  text-align: center;
  color: #3a1086;
}

.involve h1 {
  padding: 30px 0px 20px;
  font-size: 5rem;
}

.involve h6 {
  padding: 10px 0;
  font-size: 1.5rem;
}

.involve p {
  padding-bottom: 10px;
}

.involve button {
  margin-bottom: 50px;
}

.signIn {
  background-image: url("https://static.wixstatic.com/media/nsplsh_32327837667846706c5f38~mv2_d_4644_3084_s_4_2.jpg/v1/fill/w_1903,h_366,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_32327837667846706c5f38~mv2_d_4644_3084_s_4_2.jpg");
  height: 18rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.signIn h1 {
  font-size: 4rem;
  margin: 50px 0;
  font-weight: bold;
}

.signIn button {
  border-radius: 0;
  border: 2px solid;
  font-weight: bold;
}

.test {
  margin: 0 150px;
  color: #2a93bd;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.test2 {
  color: #2a93bd;
  margin-bottom: 3rem;
}

.test2 h5 {
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
}

.test2 p {
  margin: 1rem 0;
  display: block;
  font-size: 1.1rem;
}
